
body {
 font-family: 'Raleway', sans-serif;
}

  #head {
  height: 65px;
  padding-top: 15px;
  width: 101.5%;
  background-color: white;
  margin: -8px;
  margin-top: -21px;
  position: fixed;
}

#head h2 {
  float: left;
  display: inline;
  padding-left: 1%;
  font-size: 20px;
}

#head h3 {
  float: right;
  display: inline;
  padding-right: 3%;
  font-size: 20px;
}


.product_div {
  padding-top: 290px;
  width: 100%;
  text-align: center;
}

.product_name {
  font-size: 100px;
}

.product_picture {
  position: absolute;
  width: 350px;
  left: 0;
  right: 0;
  top: -200px;
  bottom: 0;
  margin: auto;
  opacity: 0.8;
}

.text_container {
  position: relative;
  width: 700px;
  margin: auto;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
}

.text_container p {
  padding-top: 110px;
}

.specs_container {
  height: 200px;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 200px;
}

.icon {
  height: 100px;
}
